body {
  padding: 0;
  margin: 0;
  background: #ebe2d8;
  color: #ff0000;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

#canvas-container {
  width: 1200px;
  margin: 0 auto;
}
